.page-footer p.copyright{
	color: #5c615d;
	font-size: 19px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.page-footer .front{
	background: #EDF8E8;
	padding-top: 40px;
	padding-bottom: 40px;
}

.page-footer .about-us{
	width: 1048px;
	margin: auto;
}

p.title{
	display: block;
	text-transform: uppercase;
	margin-bottom: 30px;
}

#aboutUs i{
	margin-right: 10px;
}

#aboutUs span{
	margin-top: -5px;
}